body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.title{
    text-align: left;
    font-family: 'Times New Roman';
    width: 100%;
}


.img-res{
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 3px solid white;

}
  
.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000; /*sopra agli altri elementi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  .navbar .title {
    margin: 0;
    font-size: 2em;
  }
  
  nav {
    position: relative;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .menu li a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
  }
  
  .menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
  }
  

  #menu-toggle {
    display: none;
  }

  .grid-servizi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 10px;
  }
  
  .servizio-box {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

  .servizio-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
  }

  .servizio-overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.9);
    color: #111;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: background 0.3s;
  }

  .servizio-overlay:hover {
    background: rgba(255, 255, 255, 1);
  }

  .servizio-overlay p {
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  
  @media (max-width: 768px) {
    .menu {
      display: none;/*per nascondere elemento dalla pagina*/
      flex-direction: column;
      background-color: black;
      position: absolute;
      top: 40px;
      right: 0;
      width: 150px;
      border: 1px solid white;
    }
  
    #menu-toggle:checked + .menu-icon + .menu {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }


footer {
  background-color: #333;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container > div {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p, ul {
  font-size: 14px;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #ff6347;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}